
.square {
    float: left;
    width: 30%;
    height: 0;
    padding-bottom: 30%;
    background-color: grey;
    margin: 1%;
    cursor: pointer;
}

.container{
    width: 600px;
    margin: 0 auto;
}

body {
 background-color: #232323;
}

h1 {
    color : white;
}

#message { 
    color : #000000;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected {
    background-color: blue ;
}